/**********GENERAL***********/

body {
	background: white;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
	padding:100px;
}

/**********button, .btns {
	outline: none;
	padding-top: 5px;
	text-decoration: none;
	opacity: 0.6;
	background-color: black;
	color: white;
	border: thin solid white;
	height: 30px;
	width: 50%;
	border-radius: 2px;
	transition: 0.5s;
	padding-bottom: 5px;
	text-align: center;
}

button:hover, .btns:hover {
	background-color: grey;
	color: black;
	border: thin solid black;
	opacity: 0.9;
}

/**********HEADER***********/
#header {
	text-align: center;
	width: 100%;
	padding:100px;

}


/**********NAVIGATION***********/
#nav {
	background: white;
}

/*********************CONTENT**********************/

/*********************about**********************/
#about {
	padding:100px;
}

